---
import Grid1 from '../components/Grid.astro';
import Grid2 from '../components/Grid2.astro';
import Layout from '../layouts/Layout.astro';
import Sidebar from "../components/Sidebar.astro";
---


<Layout>
	<span slot="sidebar">
		<Sidebar />
	</span>

	<h1>Populære Kunstnere</h1>
	<Grid1 />
	<h1>Populære Album og Singler</h1>
	<Grid2 />
</Layout>
