---
const {img, title, author, type} = Astro.props;
---

<div class="card">
    <img src={img} alt={title} class={type === "circle" ? "circle" : "square"} />
  <h3>{title}</h3>
  <p>{author}</p>
</div>











<style>
.card {
  width: 150px; 
  height: 200px; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  text-align: center;
}

.card img {
  width: 100%;  
  height: auto; 
  max-height: 70%; 
  object-fit: cover; 
}

  .circle {
    border-radius: 50%;
  }
    .square {
    border-radius: 5px;
  }


 
</style>
